<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">

	<select id="cList" parameterType="int" resultType="comment">
		SELECT * FROM COMMENTS WHERE CBNUM = #{cbNum}
	</select>
	
	<insert id="cmtWrite" parameterType="comment">
		INSERT INTO COMMENTS VALUES(CMT_SEQ.NEXTVAL, #{cbNum}, #{cmtWriter}, #{cmtContent}, SYSDATE)
	</insert>
	
	<delete id="cmtDelete" parameterType="comment">
		DELETE FROM COMMENTS WHERE CMTNUM =#{cmtNum} AND CBNUM= #{cbNum}
	</delete>
	
	<update id="cmtModify" parameterType="comment">
		UPDATE COMMENTS SET CMTCONTENT = #{cmtContent} WHERE CMTNUM =#{cmtNum} AND CBNUM= #{cbNum}
	</update>
</mapper>